<div class="d-flex justify-content-center mt-5">
  <div class="col-3">
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
      </div>

      <div class="form-floating">
        <input formControlName="email" type="email" class="form-control mb-3" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        <span class="text-danger" 
            *ngIf="logInForm.get('email').invalid
            && logInForm.get('email').touched
            && logInForm.get('email').errors['required']">
          Email address is required
        </span>
        <span class="text-danger" 
            *ngIf="logInForm.get('email').invalid
            && logInForm.get('email').touched
            && logInForm.get('email').errors['pattern']">
          Email address is not valid
        </span>
      </div>
      <div class="form-floating">
        <input formControlName="password" type="password" class="form-control mb-3" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
        <span class="text-danger" 
            *ngIf="logInForm.get('password').invalid
            && logInForm.get('password').touched
            && logInForm.get('password').errors['required']">
          Password is required
        </span>
      </div>
        <button [disabled]="logInForm.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </div>
  <div class="col-4">
    <p>Form Status: {{logInForm.status}}</p>
    <p>Email Status: {{logInForm.get('email').status}}</p>
    <p>Email Touched: {{logInForm.get('email').touched}}</p>
    <p>Email Dirty: {{logInForm.get('email').dirty}}</p>
    <pre>{{logInForm.value | json}}</pre>
  </div>
</div>
